.App {
  text-align: center;
}


.Input-box{
  position: "absolute";
  left: "50%";
  top: "50%";
  transform: "translate(-50%, -50%)";
}

.Text-List{
  justify-content: center;
  background-color: chartreuse;
}

.List-items{
  display: flex;
  justify-content: center;
  background-color: chocolate;
}

.List-items ol li{
  word-break: normal;
}



